/* core styles */
.container {
    margin: 0 auto;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
button {
    border-color: #04aa6d;
    font-size: 18px;
}
/* header section styles */
.header-section {
    background-color: rgb(40, 42, 53);
}

.header-navigation ul {
    list-style: none;
    text-align: center;
    padding: 20px;
    margin: 0;

}
.navigation-item {
    color: white;
    text-transform: uppercase;
    word-spacing: 20px;
    font-size: 25px;
    display: inline-block;
    margin-right: 20px;
}
.navigation-item a {
    color: white; 
    text-decoration: none;
}

/* main section styles */

.main-section__title {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}

.main-section__btn {
    background-color: #04aa6d;
    padding: 15px 10px;
    color: white;
    font-size: 18px;
    border: 1px solid black;

}

.main-section__info {
    background-color: rgb(217, 238, 225);
    line-height: 50px;
    text-indent: 0.5%;
}
.main-section_info_btn {
    background-color: #04aa6d;
    color: white;
    padding: 15px 10px;
    border: 1px solid black;
}

.main-section_info_btn2 {
     background-color: black;
    color: white;
    padding: 15px 10px;
    border: 1px solid black;
}

.main-section__subtitle {
    text-indent: 15px;
    text-transform: uppercase;
    line-height: 30px;
}
.main-section__intraduction {
    text-indent: 15px;
}

/* footer section styles */

.footer-section__title {
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 15px;
}
.footer-section__intraduction {
    text-indent: 20px;
    
}

.footer-section__btn {
    background-color: #04aa6d;
    color: white;
    padding: 15px 10px;
    border: 1px solid #04aa6d;
     text-indent: 15px;
}