* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 5px;
}
.box-1 {
    width: 650px;
    height: 150px;
    background-color: rgb(230, 18, 149);
    border: 5px solid green;
    margin: 35px auto;
    padding: 8px;
   
}
.box-1 p {
    margin-top: 5px;
    color: rgb(63, 66, 66);
    font-size: 20px;
}

.box-2{
    width: 650px;
    height: 150px;
    background-color: rgb(230, 18, 149);
    border: 5px solid green;
    margin: 35px auto;
    padding: 8px;
   
}
.box-2 p {
    margin-top: 5px;
    color: rgb(63, 66, 66);
    font-size: 20px;
}