* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.this-is__text {
    margin-top: 35px;
    margin-bottom: 15px;
}

.box {
    width: 600px;
    height: 300px;

    border: 10px solid rgb(225, 0, 255);
    background-color: rgb(141, 142, 142);

    padding: 50px;
    margin: 25px;
}