* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    background-color: #F4F8FA;
    border-radius: 10px;
}

.header-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.header-left {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 50%;

}

.header-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-right a {
    color: #000000D9;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease-in-out;
}

.header-right a:hover {
    color: red;
}

.header-right button {
    padding: 5px 8px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.button {
    padding: 2px 12px 7px 3px;
}

.img {

    display: flex;
    justify-content: center;
}

.title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title p span {
    color: aqua;
    text-decoration: underline;
}

.login {
    margin-top: 50px;
}

.name-text {
    display: flex;
    gap: 15px;
}

.name input {
    padding: 10px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 5px;
    font-weight: 500;
}

.lastname input {
    padding: 10px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 5px;
    font-weight: 400;
}

.birth-date {
    margin-top: 19px;
}

.birth-date input {
    width: 100%;
    padding: 10px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 8px;

}

.container label {
    font-weight: 500;
}

.gender {
    margin-top: 19px;

}

.test {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.female {
    border: 3px solid aqua;
    border-radius: 3px;
    padding: 16px;
    width: 200px;
    background-color: white;

}

.male {
    border: 1px solid #D9D9D9 ;
    border-radius: 3px;
    padding: 16px;
    width: 200px;
    background-color: white;

}

.skype {
    margin-top: 19px;
}
.skype input{
    width: 100%;
    padding: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-top: 5px;
}

.promo {
    margin-top: 19px;
}
.promo input{
    width: 100%;
    padding: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-top: 5px;
}

.btn {
    margin-top: 19px;
    padding: 14px;
    background-color: #01BAB3;
    border: none;
    border-radius: 6px;
    color: white;
    width: 100%;

    font-family: 500;
}

p {
    text-align: center;
    color: #000000A6;
    padding: 15px;
}