* {
    margin: 0;
}

.heart {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(206, 123, 123);
    margin: 200px auto;
    transform: rotate(45deg);
    animation: love infinite 0.3s;
}
.heart::before {
    position: absolute;
    content: '';
    background-color: rgb(206, 123, 123);
    width: 100%;
    height: 100%;
    left: -50%;
    border-radius: 50%;


}

.heart::after {
    position: absolute;
    content: '';
    background-color: rgb(206, 123, 123);
    width: 100%;
    height: 100%;
    top: -50%;
    right: 0;
    border-radius: 50%;

}

@keyframes love {
    from {
        transform: scale(1) rotate(45deg);
    }

    to {
        transform: scale(1.2) rotate(45deg);
    }
}