* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 500px;
    height: 150px;
    background-color: greenyellow;
    border: 5px solid red;
    margin: 15px 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;

}