* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
}

.header-section {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.header-left {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 50%;

}

.header-right {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-right a {
    color: #000000D9;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s ease-in-out;
}

.header-right a:hover {
    color: red;
}

.header-right button {
    padding: 5px 8px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.button {
    padding: 2px 12px 7px 3px;
}

.img {

    display: flex;
    justify-content: center;
}

.title {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title p span {
    color: aqua;
    text-decoration: underline;
}

.email {
    margin-top: 40px;
}

.email input {
    width: 100%;
    padding: 10px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 8px;
}

.phone {
    margin-top: 20px;
}

.phone input {
    width: 100%;
    padding: 10px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 8px;
}

.country {
    margin-top: 20px;
    display: flex;
    align-items: center;

}

.country-rus {
    width: 50%;
}

.country-rus select {
    width: 100%;
    padding: 10px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 8px;
    color: black;
}

.city-name {
    width: 50%;
}

.city-name input {
    width: 100%;
    margin-left: 10px;

    padding: 10px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 8px;
    color: black;
}

.city-name label {
    margin-left: 10px;

}

.pasword {
    margin-top: 20px;
}

.pasword input {
    width: 100%;
    padding: 10px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    margin-top: 8px;
    color: black;
}

.confirm-pasword {
    margin-top: 20px;

}

.confirm-pasword input {
    padding: 10px;
    color: #D9D9D9;
    border: 1px solid crimson;
    border-radius: 6px;
    margin-top: 8px;
    color: black;
    width: 100%;
}

.btn {
    margin-top: 19px;
    padding: 14px;
    background-color: #01BAB3;
    border: none;
    border-radius: 6px;
    color: white;
    width: 100%;
    font-family: 500;


}

p {
    padding: 10px;
    color: #778699;
    text-align: center;
}

p span {
    color: #01BAB3;
}