* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.jumping {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    animation-name: jumping;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}
.hr {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: -75px;
}
@keyframes jumping {
    0% {
        top: 0;
        
    }
     50% {
        top: 100px;

     }

    100% {
        top: 0;
        
        
    }
}