* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-model {
    width: 100%;
    height: 150px;
    border: 5px solid blue;
    background-color: blueviolet;
    color: white;
    margin: 25px 15px;
    padding: 55px;
}

.h1 {
    background-color: orange;
    color: white;
    margin: 15px;
}

.red {
    display: block;
    background-color: red;
    color: white;
    text-decoration: none;
    margin: 15px;
}

.blue {
    display: block;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin: 15px;
}