* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fan {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: red;
    position: relative;
    margin: 50px auto;
    animation: spin 1s linear infinite;
    
}

.blade {
    width: 10px;
    height: 50px;
    background: aqua;
    position: absolute;
    left: 50%;
    top: 8%;
    transform-origin: bottom center;
    border-radius: 5px;
}

.blade:nth-child(1) {
    transform: translateX(-50%) rotate(0deg);
}

.blade:nth-child(2) {
    transform: translateX(-50%) rotate(120deg);
}

.blade:nth-child(3) {
    transform: translateX(-50%) rotate(240deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}